main {
    text-align: center;
    color: white;
}

body {
    background-image: url(../img/venue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
}

label {
    color: white;
}

footer {
    position: fixed;
    color: white;
    left: 0;
    bottom: 0;
    height: 3%;
    width: 100%;
    text-align: center;
}

.navlink {
    color: white;
}

#event-list {
    border: white;
}

.card {
    width: 100%;
}