main{
    text-align: center;
    color: white;
}

body {
    background-image: url(../img/venue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin:0 auto;
    padding: 0px;
  }